In [19]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [20]:
import pandas as pd
import numpy as np
from typing import Dict

from lib.data_handler import MovieLens

Data loaded successfully from /workspaces/movie-lens-latest-small/data/links.csv.
Data loaded successfully from /workspaces/movie-lens-latest-small/data/movies.csv.
Data loaded successfully from /workspaces/movie-lens-latest-small/data/ratings.csv.
Data loaded successfully from /workspaces/movie-lens-latest-small/data/tags.csv.

# 1. **Functions**

In [21]:
def descriptive_analysis(df: pd.DataFrame) -> Dict:
    """
    Perform descriptive analysis on a DataFrame with numerical and categorical columns.

    Parameters:
    - df (DataFrame): The input DataFrame.

    Returns:
    - summary (dict): A dictionary containing summary statistics.
    """
    summary = {}

    # Numerical columns
    numerical_cols = df.select_dtypes(include=[np.number]).columns.tolist()
    summary['numerical'] = df[numerical_cols].describe()

    # Categorical columns
    categorical_cols = df.select_dtypes(include=['object', 'category']).columns.tolist()
    categorical_summary = {}
    for col in categorical_cols:
        categorical_summary[col] = {
            'unique_values': df[col].unique(),
            'top_value': df[col].mode()[0],
            'top_frequency': df[col].value_counts().iloc[0],
            'missing_values': df[col].isnull().sum()
        }

    summary['categorical'] = pd.DataFrame(categorical_summary)

    return summary

## 2. **Data**

In [ ]:
# Initialize Class
movie_lens = MovieLens()

In [22]:
movies = movie_lens.movies
users = movie_lens.users

In [23]:
print(f"links_df: {movies.shape}")
print(f"movies_df: {users.shape}")

links_df: (9742, 6)
movies_df: (100836, 6)

In [24]:
display(movies.head())
display(users.head())

,movieId,title,genres,release_year,imdbId,tmdbId
0,1,Toy Story,"Adventure, Animation, Children, Comedy, Fantasy",1995,114709,862.0
1,2,Jumanji,"Adventure, Children, Fantasy",1995,113497,8844.0
2,3,Grumpier Old Men,"Comedy, Romance",1995,113228,15602.0
3,4,Waiting to Exhale,"Comedy, Drama, Romance",1995,114885,31357.0
4,5,Father of the Bride Part II,Comedy,1995,113041,11862.0

   userId  movieId  rating  timestamp_ratings  tag timestamp_tags
0       1        1     4.0          964982703  NaN            NaN
1       1        3     4.0          964981247  NaN            NaN
2       1        6     4.0          964982224  NaN            NaN
3       1       47     5.0          964983815  NaN            NaN
4       1       50     5.0          964982931  NaN            NaN

In [25]:
users.loc[users.userId == 2]

,userId,movieId,rating,timestamp_ratings,tag,timestamp_tags
232,2,318,3.0,1445714835,NaN,NaN
233,2,333,4.0,1445715029,NaN,NaN
234,2,1704,4.5,1445715228,NaN,NaN
235,2,3578,4.0,1445714885,NaN,NaN
236,2,6874,4.0,1445714952,NaN,NaN
237,2,8798,3.5,1445714960,NaN,NaN
238,2,46970,4.0,1445715013,NaN,NaN
239,2,48516,4.0,1445715064,NaN,NaN
240,2,58559,4.5,1445715141,NaN,NaN
241,2,60756,5.0,1445714980,"funny, Highly quotable, will ferrell","1445714994, 1445714996, 1445714992"
242,2,68157,4.5,1445715154,NaN,NaN
243,2,71535,3.0,1445714974,NaN,NaN
244,2,74458,4.0,1445714926,NaN,NaN
245,2,77455,3.0,1445714941,NaN,NaN
246,2,79132,4.0,1445714841,NaN,NaN
247,2,80489,4.5,1445715340,NaN,NaN
248,2,80906,5.0,1445715172,NaN,NaN
249,2,86345,4.0,1445715166,NaN,NaN
250,2,89774,5.0,1445715189,"Boxing story, MMA, Tom Hardy","1445715207, 1445715200, 1445715205"
251,2,91529,3.5,1445714891,NaN,NaN
252,2,91658,2.5,1445714938,NaN,NaN
253,2,99114,3.5,1445714874,NaN,NaN
254,2,106782,5.0,1445714966,"drugs, Leonardo DiCaprio, Martin Scorsese","1445715054, 1445715051, 1445715056"
255,2,109487,3.0,1445715145,NaN,NaN
256,2,112552,4.0,1445714882,NaN,NaN
257,2,114060,2.0,1445715276,NaN,NaN
258,2,115713,3.5,1445714854,NaN,NaN
259,2,122882,5.0,1445715272,NaN,NaN
260,2,131724,5.0,1445714851,NaN,NaN

In [26]:
movie_lens.movies

,movieId,title,genres,release_year,imdbId,tmdbId
0,1,Toy Story,"Adventure, Animation, Children, Comedy, Fantasy",1995,114709,862.0
1,2,Jumanji,"Adventure, Children, Fantasy",1995,113497,8844.0
2,3,Grumpier Old Men,"Comedy, Romance",1995,113228,15602.0
3,4,Waiting to Exhale,"Comedy, Drama, Romance",1995,114885,31357.0
4,5,Father of the Bride Part II,Comedy,1995,113041,11862.0
...,...,...,...,...,...,...
9737,193581,Black Butler: Book of the Atlantic,"Action, Animation, Comedy, Fantasy",2017,5476944,432131.0
9738,193583,No Game No Life: Zero,"Animation, Comedy, Fantasy",2017,5914996,445030.0
9739,193585,Flint,Drama,2017,6397426,479308.0
9740,193587,Bungo Stray Dogs: Dead Apple,"Action, Animation",2018,8391976,483455.0
9741,193609,Andrew Dice Clay: Dice Rules,Comedy,1991,101726,37891.0

In [27]:
movies[movies.release_year.isna()]

Empty DataFrame
Columns: [movieId, title, genres, release_year, imdbId, tmdbId]
Index: []

## 3 **Content Base Filtering**

In [41]:
from lib.recommenders import ContentBasedRecommender

cbr = ContentBasedRecommender(movies, ["genres", "release_year"], verbose=False)

In [42]:
cbr.get_recommendations_by_features("Fantasy, sci-fi, 2010")

,movieId,title,genres,release_year,imdbId,tmdbId,features
9147,147376,Doctor Who: A Christmas Carol,Sci-Fi,2010,1672218,315620.0,"Sci-Fi, 2010"
7437,80917,Monsters,"Drama, Sci-Fi",2010,1470827,43933.0,"Drama, Sci-Fi, 2010"
7300,76077,Hot Tub Time Machine,"Comedy, Sci-Fi",2010,1231587,23048.0,"Comedy, Sci-Fi, 2010"
7475,82095,Skyline,"Sci-Fi, Thriller",2010,1564585,42684.0,"Sci-Fi, Thriller, 2010"
8639,119167,Paradox,"Sci-Fi, Thriller",2010,1343740,51239.0,"Sci-Fi, Thriller, 2010"

In [43]:
cbr.get_recommendations_by_title("Toy Story")

,movieId,title,genres,release_year,imdbId,tmdbId,features
12,13,Balto,"Adventure, Animation, Children",1995,112453,21032.0,"Adventure, Animation, Children, 1995"
1,2,Jumanji,"Adventure, Children, Fantasy",1995,113497,8844.0,"Adventure, Children, Fantasy, 1995"
53,60,"Indian in the Cupboard, The","Adventure, Children, Fantasy",1995,113419,11359.0,"Adventure, Children, Fantasy, 1995"
222,258,"Kid in King Arthur's Court, A","Adventure, Children, Comedy, Fantasy, Romance",1995,113538,37108.0,"Adventure, Children, Comedy, Fantasy, Romance,..."
599,745,Wallace & Gromit: A Close Shave,"Animation, Children, Comedy",1995,112691,532.0,"Animation, Children, Comedy, 1995"