In [1]:
import pandas as pd
import numpy as np

import lib.data_handler as dh

In [2]:
%load_ext autoreload
%autoreload 2

### **Load Data**

In [9]:
df_links = dh.load_csv_data("./data/links.csv")

df_movies = dh.load_csv_data("./data/movies.csv")

df_ratings = dh.load_csv_data("./data/ratings.csv")

df_tags = dh.load_csv_data("./data/tags.csv")

Data loaded successfully from ./data/links.csv.
Data loaded successfully from ./data/movies.csv.
Data loaded successfully from ./data/ratings.csv.
Data loaded successfully from ./data/tags.csv.

In [8]:
display(df_links.head())

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0
5        6  113277    949.0
6        7  114319  11860.0
7        8  112302  45325.0
8        9  114576   9091.0
9       10  113189    710.0